@import url("https://fonts.googleapis.com/css?family=Poppins:700");
@import "./partials/_esteban.scss";
@import "./partials/responsive";

//General
p {
  font-size: 23px;
  font-weight: 100;
}
//Header
.header {
  background-color: #171918;
  .logo img {
    width: 100px;
  }
}
//======================================= Esteban Aceves =======================================
.estebanAceves::before {
  content: "";
  width: 100%;
  height: 85vh;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(hsla(150, 4%, 9%, 0), hsl(150, 4%, 9%));
}
.estebanAceves {
  position: relative;
  background: #171918 url(../img/fondo.png) no-repeat center;
  .esteban-img img {
    margin-top: 50px;
    width: 500px !important;
  }
  .hi {
    font-size: 50px;
    font-weight: 900;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    position: relative;
    margin-right: 10px;

    &::after{
        position: absolute;
        content: "";
        bottom: 35px;
        right: 20px;
        width: 80px;
        height: 7px;
        background-color: #57D7FF;
        transform: rotate(90deg);
    }
  }
  .title-container{
    margin-left: 105px;
    .title{
      font-size: 0;
      width: 60%;
      }
  }
  
}

//============================================= ABOUT =======================================
.about-container{
  background-color: #171918;
  .about {
    position: relative;
    height: 600px;
  
    // .diamonds img {
    //   position: absolute;
    //   object-fit: cover;
    //   width: 15%;
    // }
    // .diamond-1 {
    //   top: -5px;
    //   right: 0;
    // }
    // .diamond-2 {
    //   top: 150px;
    //   left: 15px;
    // }
  
    .designer div {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: 600px;
    }
    .designer div:nth-child(2) {
      background: url(../img/esteban-about.png);
      background-size: 500px;
      background-repeat: no-repeat;
      background-position: right;
      z-index: 1;
    }
  
    .designer div h2,
    .dancer div h2,
    .entrepreneur div h2,
    .traveler div h2 {
      position: absolute;
      left: 800px;
      font-size: 70px;
      font-weight: 900;
      text-transform: uppercase;
      cursor: default;
      white-space: nowrap;
    }
  
    .designer div h2 {
      color: #fff;
      line-height: 470px;
      animation: animate 10s linear infinite;
    }
    .designer div:nth-child(2) h2,
    .entrepreneur div:nth-child(2) h2 {
      -webkit-text-stroke-color: #fff;
      -webkit-text-stroke-width: 1px;
      color: transparent;
      z-index: 5;
    }
  
    .dancer div h2 {
      animation: animate 14s linear infinite;
      color: #57d7ff;
      line-height: 605px;
    }
    .dancer div:nth-child(2) h2,
    .traveler div:nth-child(2) h2 {
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: #57d7ff;
      -webkit-text-stroke-width: 1px;
      color: transparent;
      z-index: 5;
    }
    .entrepreneur div h2 {
      color: #fff;
      animation: animate 8s linear infinite;
      line-height: 740px;
    }
    .traveler div h2 {
      color: #57d7ff;
      line-height: 880px;
      animation: animate 10s linear infinite;
    }
  
    @keyframes animate {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-50%);
      }
    }
  }
}

// ================================ VIAJES ========================================
.viajes-container{
  background-color: #171918;
  padding-top: 50px;
  padding-bottom: 50px;
  .viajes-title{
    font-weight: 900;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 120px;
    color: hsla(194, 100%, 67%, 0.075);
    margin-left: 0;
  }
  .viaje-text{
    margin-top: -45px;
    font-weight: 900;
    font-size: 60px;
    margin-left: -100px;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.657);
    span{
      -webkit-text-stroke-width: 1px;
      -webkit-text-fill-color: transparent;
    }
    p{
      position: relative;
      z-index: 5;
    }
  }
  .viaje-text::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 100px;
    height: 7px;
    background-color: #57d7ff;
  }
  .blob-viajes {
    position: absolute;
    right: 150px;
    fill: hsla(194, 100%, 67%, 0.212);
    width: 17vmax;
    z-index: 1;
    animation: move-viajes 15s ease-in-out infinite;
    transform-origin: 50% 40%;
  }
  @keyframes move-viajes {
    0% {
      transform: scale(1) translate(10px, -130px);
    }
    38% {
      transform: scale(0.8, 1) translate(50px, -110px) rotate(160deg);
    }
    40% {
      transform: scale(0.8, 1) translate(50px, -110px) rotate(160deg);
    }
    78% {
      transform: scale(1.2) translate(50px, -150px) rotate(-20deg);
    }
    80% {
      transform: scale(1.2) translate(50px, -150px) rotate(-20deg);
    }
    100% {
      transform: scale(1) translate(10px, -130px);
    }
  }
}

//================================ BLOG =================================
.container-blog{
  background-color: #171918;
  padding-top: 50px;
  padding-bottom: 150px;
  .blog-title{
    font-weight: 900;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 120px;
    color: hsla(194, 100%, 67%, 0.075);
    margin-left: 0;
    position: relative;
  }
  .blog-text{
    font-weight: 900;
    font-size: 60px;
    margin-left: -100px;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.657);
    margin-right:-150px;
    margin-top: -45px;
    span{
      -webkit-text-stroke-width: 1px;
      -webkit-text-fill-color: transparent;
    }
  }
  .blog-text::after {
    position: absolute;
    content: "";
    bottom: -5px;
    right: 0;
    width: 100px;
    height: 7px;
    background-color: #57d7ff;
  }
  .texts-blog{
    position: relative;
  }
  .heart-wrap-blog {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
  }
  p{
    margin-right: -55px;
  }

  .heart-blog {
    height: 830px;
    pointer-events: none;
    transform: translate3d(-25%, 0, 0);
    width: 700px;
  }
  .btn-blog{
    transform: translate(-59%, 0);
  }
}

//Seccion 5 Tienda
.tienda {
  width: 100%;
  height: 600px;
  background: #171918 url(../img/fondo-tienda.png) no-repeat center center /cover;
  color: #fff;

  h2 {
    margin-top: -70px;
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
  }
  .tienda-text {
    margin-top: 80px;
    width: 40%;
    text-align: center;
    .btn-tienda {
      width: 200px;
      transform: translate(-50%, 0);
    }
    .btn-tienda svg,
    .btn-tienda svg rect {
      width: 200px;
    }
    .btn-tienda:hover svg rect {
      stroke-dasharray: 100, 410;
    }
  }
}

//Footer
.contacto-container {
  background-color: #171918;
  padding-top: 40px;
  padding-bottom: 20px;
  .logo {
    width: 200px;
    height: 100px;
  }
  .social-media a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-left: 10px;
  }
  .copy {
    margin-top: 30px;
    .webcastell {
      text-decoration: none;
      color: #57d8ffcb;
      font-weight: 500;
    }
  }
}

//Btn
.btn-general {
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 37px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  position: absolute;
}
.btn-general:hover {
  color: #57d7ff;
}

.btn-general svg,
.btn-general svg rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}
.btn-general svg rect {
  stroke: #57d7ff;
  stroke-width: 4;
  transition: 0.5s;
  stroke-dasharray: 500, 500;
  stroke-dashoffset: 0;
}
.btn-general:hover svg rect {
  stroke-dasharray: 100, 305;
  stroke-dashoffset: 220;
  stroke: #fff;
}
