@import url("https://fonts.googleapis.com/css?family=Poppins:700");
body {
  background-color: #171918;
}

.esteban-header {
  width: 100%;
  height: 100vh;
}

.esteban-header .logo img {
  width: 100px;
}

.esteban-header .img-esteban img {
  width: 100%;
}

.about-container h2 {
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  font-size: 70px;
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
  .designer div h2,
  .dancer div h2,
  .entrepreneur div h2,
  .traveler div h2 {
    left: 430px !important;
  }
  .designer div:nth-child(2) {
    background-size: 410px !important;
  }
  .about {
    height: 500px;
  }
  .about .designer div {
    height: 445px;
    left: -20px;
  }
  .about .designer div h2 {
    line-height: 310px;
  }
  .about .dancer div h2 {
    line-height: 440px;
  }
  .about .entrepreneur div h2 {
    line-height: 565px;
  }
  .about .traveler div h2 {
    line-height: 690px;
  }
  .img-viajes img {
    margin-left: -100px;
  }
  .img-blog {
    margin-right: -100px;
  }
  .blog-container .blog .tex-viajes p,
  .blog-right .tex-blog-right {
    width: 95%;
  }
  .tienda .tienda-text {
    width: 60%;
  }
  .blob-blog,
  .blob-viajes {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 1080px) {
  .viajes-title, .blog-title {
    -webkit-writing-mode: horizontal-tb !important;
        -ms-writing-mode: lr-tb !important;
            writing-mode: horizontal-tb !important;
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
  }
  .viaje-text::after, .blog-text::after, .blob-viajes, .heart-blog {
    display: none;
  }
  .tienda .tienda-text {
    width: 90% !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .estebanAceves .title-container {
    margin-left: 20px !important;
  }
  .estebanAceves .title-container .title {
    width: 80% !important;
  }
  .texts-esteban p {
    text-align: center;
  }
  .designer div h2,
  .dancer div h2,
  .entrepreneur div h2,
  .traveler div h2 {
    left: 220px !important;
  }
  .btn-viajes {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .btn-blog {
    -webkit-transform: translate(-37%, 0);
            transform: translate(-37%, 0);
  }
  .viaje-text {
    margin-left: 0 !important;
  }
  .blog-text, .viaje-text {
    margin-top: -90px;
  }
  .blog-text {
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .designer div h2,
  .dancer div h2,
  .entrepreneur div h2,
  .traveler div h2 {
    left: 120px !important;
    font-size: 35px !important;
  }
  .designer div:nth-child(2) {
    background-size: 350px !important;
  }
  .about-container .about .designer div {
    width: 100% !important;
  }
  .about-container .about .designer div h2 {
    line-height: 500px !important;
  }
  .about-container .about .dancer div h2 {
    line-height: 580px !important;
  }
  .about-container .entrepreneur div h2 {
    line-height: 660px !important;
  }
  .about-container .traveler div h2 {
    line-height: 740px !important;
  }
  .tienda h2, .viajes-title, .blog-title {
    font-size: 70px !important;
  }
  .viaje-text, .blog-text {
    font-size: 35px !important;
  }
  .img-viajes img, .img-blog img {
    width: 90% !important;
  }
  .tienda h2 {
    margin-top: -40px !important;
  }
}

p {
  font-size: 23px;
  font-weight: 100;
}

.header {
  background-color: #171918;
}

.header .logo img {
  width: 100px;
}

.estebanAceves::before {
  content: "";
  width: 100%;
  height: 85vh;
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 24, 23, 0)), to(#161817));
  background: linear-gradient(rgba(22, 24, 23, 0), #161817);
}

.estebanAceves {
  position: relative;
  background: #171918 url(../img/fondo.png) no-repeat center;
}

.estebanAceves .esteban-img img {
  margin-top: 50px;
  width: 500px !important;
}

.estebanAceves .hi {
  font-size: 50px;
  font-weight: 900;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-transform: uppercase;
  position: relative;
  margin-right: 10px;
}

.estebanAceves .hi::after {
  position: absolute;
  content: "";
  bottom: 35px;
  right: 20px;
  width: 80px;
  height: 7px;
  background-color: #57D7FF;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.estebanAceves .title-container {
  margin-left: 105px;
}

.estebanAceves .title-container .title {
  font-size: 0;
  width: 60%;
}

.about-container {
  background-color: #171918;
}

.about-container .about {
  position: relative;
  height: 600px;
}

.about-container .about .designer div {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 600px;
}

.about-container .about .designer div:nth-child(2) {
  background: url(../img/esteban-about.png);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 1;
}

.about-container .about .designer div h2,
.about-container .about .dancer div h2,
.about-container .about .entrepreneur div h2,
.about-container .about .traveler div h2 {
  position: absolute;
  left: 800px;
  font-size: 70px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: default;
  white-space: nowrap;
}

.about-container .about .designer div h2 {
  color: #fff;
  line-height: 470px;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}

.about-container .about .designer div:nth-child(2) h2,
.about-container .about .entrepreneur div:nth-child(2) h2 {
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  z-index: 5;
}

.about-container .about .dancer div h2 {
  -webkit-animation: animate 14s linear infinite;
          animation: animate 14s linear infinite;
  color: #57d7ff;
  line-height: 605px;
}

.about-container .about .dancer div:nth-child(2) h2,
.about-container .about .traveler div:nth-child(2) h2 {
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #57d7ff;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  z-index: 5;
}

.about-container .about .entrepreneur div h2 {
  color: #fff;
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
  line-height: 740px;
}

.about-container .about .traveler div h2 {
  color: #57d7ff;
  line-height: 880px;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.viajes-container {
  background-color: #171918;
  padding-top: 50px;
  padding-bottom: 50px;
}

.viajes-container .viajes-title {
  font-weight: 900;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 120px;
  color: rgba(87, 216, 255, 0.075);
  margin-left: 0;
}

.viajes-container .viaje-text {
  font-weight: 900;
  font-size: 60px;
  margin-left: -100px;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.657);
}

.viajes-container .viaje-text span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
}

.viajes-container .viaje-text p {
  position: relative;
  z-index: 5;
}

.viajes-container .viaje-text::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #57d7ff;
}

.viajes-container .blob-viajes {
  position: absolute;
  right: 150px;
  fill: rgba(87, 216, 255, 0.212);
  width: 17vmax;
  z-index: 1;
  -webkit-animation: move-viajes 15s ease-in-out infinite;
          animation: move-viajes 15s ease-in-out infinite;
  -webkit-transform-origin: 50% 40%;
          transform-origin: 50% 40%;
}

@-webkit-keyframes move-viajes {
  0% {
    -webkit-transform: scale(1) translate(10px, -130px);
            transform: scale(1) translate(10px, -130px);
  }
  38% {
    -webkit-transform: scale(0.8, 1) translate(50px, -110px) rotate(160deg);
            transform: scale(0.8, 1) translate(50px, -110px) rotate(160deg);
  }
  40% {
    -webkit-transform: scale(0.8, 1) translate(50px, -110px) rotate(160deg);
            transform: scale(0.8, 1) translate(50px, -110px) rotate(160deg);
  }
  78% {
    -webkit-transform: scale(1.2) translate(50px, -150px) rotate(-20deg);
            transform: scale(1.2) translate(50px, -150px) rotate(-20deg);
  }
  80% {
    -webkit-transform: scale(1.2) translate(50px, -150px) rotate(-20deg);
            transform: scale(1.2) translate(50px, -150px) rotate(-20deg);
  }
  100% {
    -webkit-transform: scale(1) translate(10px, -130px);
            transform: scale(1) translate(10px, -130px);
  }
}

@keyframes move-viajes {
  0% {
    -webkit-transform: scale(1) translate(10px, -130px);
            transform: scale(1) translate(10px, -130px);
  }
  38% {
    -webkit-transform: scale(0.8, 1) translate(50px, -110px) rotate(160deg);
            transform: scale(0.8, 1) translate(50px, -110px) rotate(160deg);
  }
  40% {
    -webkit-transform: scale(0.8, 1) translate(50px, -110px) rotate(160deg);
            transform: scale(0.8, 1) translate(50px, -110px) rotate(160deg);
  }
  78% {
    -webkit-transform: scale(1.2) translate(50px, -150px) rotate(-20deg);
            transform: scale(1.2) translate(50px, -150px) rotate(-20deg);
  }
  80% {
    -webkit-transform: scale(1.2) translate(50px, -150px) rotate(-20deg);
            transform: scale(1.2) translate(50px, -150px) rotate(-20deg);
  }
  100% {
    -webkit-transform: scale(1) translate(10px, -130px);
            transform: scale(1) translate(10px, -130px);
  }
}

.container-blog {
  background-color: #171918;
  padding-top: 50px;
  padding-bottom: 150px;
}

.container-blog .blog-title {
  font-weight: 900;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 120px;
  color: rgba(87, 216, 255, 0.075);
  margin-left: 0;
  position: relative;
}

.container-blog .blog-text {
  font-weight: 900;
  font-size: 60px;
  margin-left: -100px;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.657);
  margin-right: -200px;
}

.container-blog .blog-text span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
}

.container-blog .blog-text::after {
  position: absolute;
  content: "";
  bottom: -5px;
  right: 0;
  width: 100px;
  height: 7px;
  background-color: #57d7ff;
}

.container-blog .texts-blog {
  position: relative;
}

.container-blog .texts-blog p {
  margin-right: -115px;
}

.container-blog .heart-wrap-blog {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
}

.container-blog .heart-blog {
  height: 830px;
  pointer-events: none;
  -webkit-transform: translate3d(-25%, 0, 0);
          transform: translate3d(-25%, 0, 0);
  width: 700px;
}

.container-blog .btn-blog {
  margin-left: -17px;
}

.tienda {
  width: 100%;
  height: 600px;
  background: #171918 url(../img/fondo-tienda.png) no-repeat center center/cover;
  color: #fff;
}

.tienda h2 {
  margin-top: -70px;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 900;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
}

.tienda .tienda-text {
  margin-top: 80px;
  width: 40%;
  text-align: center;
}

.tienda .tienda-text .btn-tienda {
  width: 200px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.tienda .tienda-text .btn-tienda svg,
.tienda .tienda-text .btn-tienda svg rect {
  width: 200px;
}

.tienda .tienda-text .btn-tienda:hover svg rect {
  stroke-dasharray: 100, 410;
}

.contacto-container {
  background-color: #171918;
  padding-top: 40px;
  padding-bottom: 20px;
}

.contacto-container .logo {
  width: 200px;
  height: 100px;
}

.contacto-container .social-media a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  margin-left: 10px;
}

.contacto-container .copy {
  margin-top: 30px;
}

.contacto-container .copy .webcastell {
  text-decoration: none;
  color: #57d8ffcb;
  font-weight: 500;
}

.btn-general {
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 37px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  position: absolute;
}

.btn-general:hover {
  color: #57d7ff;
}

.texts-blog h3, .texts-blog p {
  text-align: right;
}

.btn-general svg,
.btn-general svg rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}

.btn-general svg rect {
  stroke: #57d7ff;
  stroke-width: 4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  stroke-dasharray: 500, 500;
  stroke-dashoffset: 0;
}

.btn-general:hover svg rect {
  stroke-dasharray: 100, 305;
  stroke-dashoffset: 220;
  stroke: #fff;
}
/*# sourceMappingURL=style.css.map */