// Responsive

@media screen and (min-width: 992px) and (max-width: 1400px){
  .designer div h2,
  .dancer div h2,
  .entrepreneur div h2,
  .traveler div h2 {
    left: 350px !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px){
  .container-blog p{
    margin-right: -30px !important;
  }
  .btn-blog{
    transform: translate(-78%, 0) !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
  .container-blog p{
    margin-right: 0 !important;
  }
  .btn-blog{
    transform: translate(-100%, 0) !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .esteban-img img{
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .designer div h2,
  .dancer div h2,
  .entrepreneur div h2,
  .traveler div h2 {
    left: 130px !important;
  }
  .designer div:nth-child(2) {
    background-size: 410px !important;
  }
  .about {
    height: 500px;
  }
  .about .designer div {
    height: 445px;
    left: -20px;
  }
  .about .designer div h2 {
    line-height: 310px;
  }
  .about .dancer div h2 {
    line-height: 440px;
  }
  .about .entrepreneur div h2 {
    line-height: 565px;
  }
  .about .traveler div h2 {
    line-height: 690px;
  }
  .img-viajes img, .img-blog img{
    width: 50% !important;
  }
  .social-media a{
    font-size: 25px !important;
  }
  .contacto-container .logo{
    width: 150px !important;
    height: 70px !important;
  }
  
}
@media screen and (min-width: 320px) and (max-width: 992px){
    .viajes-title, .blog-title{
      writing-mode: horizontal-tb !important;
      transform: rotate(0deg) !important;
    }
    .viaje-text::after, .blog-text::after, .blob-viajes, .heart-blog{
      display: none;
    }
    .viaje-text{
      margin-left: 0 !important;
    }

    .btn-viajes {
      transform: translate(-50%, 0);
    }
    .btn-blog{
      transform: translate(-50%, 0) !important;
    }
    .blog-text, .viaje-text{
      margin-top: -90px !important;
    }
    .container-blog p{
      margin-right: 0!important;
    }

    .blog-text{
      margin-right: 0 !important;
      margin-left: 0 !important;
      margin-bottom: 15px;
    }
    .tienda .tienda-text {
      width: 90% !important;
    }

}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .estebanAceves .title-container .title {
      width: 80% !important;
    }
    .texts-esteban p{
      text-align: center;
    }
    .designer div h2,
    .dancer div h2,
    .entrepreneur div h2,
    .traveler div h2 {
      left: 220px !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 640px) {
    .estebanAceves .title-container{
      margin-left: 20px !important;
    }
    
    .designer div h2,
    .dancer div h2,
    .entrepreneur div h2,
    .traveler div h2 {
      left: 85px !important;
      font-size: 35px !important;
    }
    .designer div:nth-child(2) {
      background-size: 350px !important;
    }
    .about-container .about .designer div {
      width: 100% !important;
    }
    .about-container .about .designer div h2 {
      line-height: 500px !important;
    }
    .about-container .about .dancer div h2 {
      line-height: 580px !important;
    }
    .about-container .entrepreneur div h2 {
      line-height: 660px !important;
    }
    .about-container .traveler div h2 {
      line-height: 740px !important;
    }

    .tienda h2, .viajes-title, .blog-title{
      font-size: 70px !important;
    }
    .viaje-text, .blog-text{
      font-size: 35px !important;
    }
    .img-viajes img, .img-blog img{
      width: 80% !important;
    }
    .viajes-container{
      padding-top: 0 !important;
    }

    .tienda h2{
      margin-top: -40px !important;
    }
}